<h1>所属チーム一覧</h1>

<% if @teams.any? %>
  <ul>
    <% @teams.each do |team| %>
      <li><%= team.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>所属しているチームはありません。</p>
<% end %>

<div class="actions" style="margin-top: 20px;">
  <%= link_to "新しいチームを作る", new_team_path, class: "btn" %>
  <br><br>
  <%# タスク一覧（カレンダー）へ戻るボタン %>
  <%= link_to "カレンダーに戻る", tasks_path, class: "back-link" %>
</div>